
// ABOUT


.v {
  &__about {
      &__quote {
      font-family: $quote;
      font-size: map-get($text-size, quote-size);
      font-weight: 400;
      text-transform: uppercase;
      text-align: left;
      @include margin (40px,80px);
      }

      &__me {
      @include margin (80px,none);
      justify-content: right; 
        
        &__card{
        text-align: right;
        padding-right: 20px;
        }
  
        &__education {
        @include margin (20px,none);
        text-align: center;
        }
        
      }

    
  }
}