

// BACKGROUNDS
$background-principal: #EDEBE9;
$background-destacado: #67A3DC;

// COLOR TEXT
$gris:#343434;
$blanco: #EDEBE9;

// TITLES
$tituloprincipal: uppercase, "Unbounded", sans-serif, 400;
$titulosecundario: "Unbounded", sans-serif, 500;
$tituloterciario: "Unbounded", sans-serif, 500;

// PARRAFOS
$parrafoprincipal: "Unbounded", sans-serif;
$parrafosecundario: "Unbounded", sans-serif;

// QUOTE
$quote: 40px, uppercase, "Unbounded", sans-serif, 400;

